<ul ngbNav class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink routerLink="" routerLinkActive="active">Home</a>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink
       routerLink="login" routerLinkActive="active">Login</a>
  </li>
  <div *ngIf="loggedin$ | async">
    <li [ngbNavItem]="3">
      <a ngbNavLink routerLink="profile" routerLinkActive="active" >Profile</a>
    </li>
  </div>
</ul>


<router-outlet></router-outlet>
